<footer>

	<div class="content-wrapper">


		<div class="alcf-logo">
			<img src="{{ site.baseurl }}/assets/images/logo-h.png" />
		</div>

		<div class="alcf-info">
			<h2>CONTACT</h2>
			<p>
				<a href="mailto:media@alcf.anl.gov">media@alcf.anl.gov</a><br>
				<a href="https://alcf.anl.gov/">alcf.anl.gov</a>
			</p>
		</div>



		<div class="bottom">
			<hr>

			<div class="doe-info">
				<img src="{{ site.baseurl }}/assets/images/doe.png" />
				<p>Argonne National Laboratory is a U.S. Department of Energy laboratory managed by UChicago Argonne, LLC.</p>
			</div>

			<div class="smallprint">
				<ul>
					<li><a href="">About</a></li>
					<li><a href="">Disclaimer</a></li>
					<li><a href="">Credits</a></li>
				</ul>
			</div>

		</div>
	
  </div>

  <script src="{{ "/assets/js/plugin--dropdown.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/app.js" | relative_url }}"></script>

</footer>
