<footer>

	<div class="content-wrapper">

		<div class="alcf-info">
			<ul>
				<li>ALCF logo</li>
			</ul>

			<h2>CONTACT</h2>
			<p>
				<a href="mailto:media@alcf.anl.gov">media@alcf.anl.gov</a><br>
				<a href="https://alcf.anl.gov/">alcf.anl.gov</a>
			</p>
		</div>

		<div class="smallprint">
			<ul>
				<li><a href="">ABOUT</a></li>
				<li><a href="">DISCLAIMER</a></li>
				<li><a href="">CREDITS</a></li>
			</ul>
		</div>

		<div class="doe-info">
			<ul>
				<li>DOE logo</li>
				<li>DOE/UChicago funding/mgmt line</li>
			</ul>
		</div>
	
  </div>

  <script src="{{ "/assets/js/plugin--dropdown.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/app.js" | relative_url }}"></script>

</footer>
