<!-- 

MEDIA, HERO

-------------------------------------------------------------------------------

available parameters:
* source
- caption
- credit

* required

-------------------------------------------------------------------------------

-->


<div class="media-hero-img">
	<div class="img-wrapper">
		<div><img src="{{ site.baseurl }}/assets/images/{{ include.source }}"></div>
	</div>

	{% if include.caption %}
		<small class="caption">
			{{ include.caption }}
			{% if include.credit %}
				<span class="credit">Image: {{ include.credit }}</span>
			{% endif %}
		</small>
	{% endif %}
</div>