<!-- 

TEXT, META

-------------------------------------------------------------------------------

available parameters:
* name-1
* value-1
- name-2
- value-2
- name-3
- value-3
- name-4
- value-4
- name-5
- value-5
- name-6
- value-6

* required

-------------------------------------------------------------------------------

-->

<div class="meta">

	<p class="meta--pair">
		<span class="meta--name">{{ include.name-1 }}</span>: 
		<span class="meta--val">{{ include.value-1 }}</span>
	</p>
	
	{% if include.name-2 %}
		<p class="meta--pair">
			<span class="meta--name">{{ include.name-2 }}</span>: 
			<span class="meta--val">{{ include.value-2 }}</span>
		</p>
	{% endif %}

	{% if include.name-3 %}
		<p class="meta--pair">
			<span class="meta--name">{{ include.name-3 }}</span>: 
			<span class="meta--val">{{ include.value-3 }}</span>
		</p>
	{% endif %}

	{% if include.name-4 %}
		<p class="meta--pair">
			<span class="meta--name">{{ include.name-4 }}</span>: 
			<span class="meta--val">{{ include.value-4 }}</span>
		</p>
	{% endif %}

	{% if include.name-5 %}
		<p class="meta--pair">
			<span class="meta--name">{{ include.name-5 }}</span>: 
			<span class="meta--val">{{ include.value-5 }}</span>
		</p>
	{% endif %}

	{% if include.name-6 %}
		<p class="meta--pair">
			<span class="meta--name">{{ include.name-6 }}</span>: 
			<span class="meta--val">{{ include.value-6 }}</span>
		</p>
	{% endif %}

</div>
