/**
  * Base Styles
  *  
  * @description
  * site-wide styles unique to this project, 
  * only file where element selectors should be used
  */





// Top Level
// ----------------------------------------------------------------------------

html, body {
  min-height: 100vh;
}

body {
	background: color(neutral, X);
	color: color(neutral, XXXXX);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}





// Layout
// ----------------------------------------------------------------------------
 
.layout-wrapper {
	@include grid-parent();
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
.language-plaintext {
	grid-column: 4 / 12;
}

.page-content {
  @include stack(md);
}

.height-wrapper {
  flex: 1 0 auto;
}

.page-intro {
  @include grid-parent($config: $grid-full);
}

.highlight,
.page-intro {
  padding: 7rem 0 0 0; //112px
}

.primary-txt {
  @include grid-child($cols: 12);
  @include stack(md);
}

.footer {
  flex-shrink: 0;
}




// Typography
// ----------------------------------------------------------------------------

h1 {
  @include typestyle($sans-md-bld);
  @include stack(xxs);
}

h2 {
  @include typestyle($sans-sm-bld);
}

h3 {
  @include typestyle($sans-xs-bld);
  text-transform: uppercase;
}

h4 {
  @include typestyle($sans-xs-bld);
}

p, ol, ul {
  @include typestyle($sans-sm-reg);
  @include stack(xxs);
}

small {
  @include typestyle($sans-xs-reg);
}

a {
  text-decoration: underline;
  text-decoration-color: color(neutral, XXX);
}

mark {
  background-color: color(warm, XX);
}

::selection {
  background: color(warm, XX);
}

::-moz-selection {
  background: color(warm, XX);
}

// code blocks
.language-plaintext {
  padding: 0 bl(3); //12px
  font-size: 1.0625rem;
  background-color: color(neutral, XX);
  @include stack(sm);
}

table {
  @include stack(sm);
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

tr {
  border-bottom: 1px solid color(neutral, XXX);
}

td { 
  @include typestyle($sans-xs-reg);
}

th { 
  @include typestyle($sans-xs-bld);
}

td, th { 
  padding: bl(3) 0; //12px
}

ul {
  list-style-type: '\2014\00a0';
}

h1.page-title {
  @include typestyle($sans-lg-bld);
}


// Forms
// ----------------------------------------------------------------------------






// Box General
// ----------------------------------------------------------------------------





// Component General
// ----------------------------------------------------------------------------



