/**
  * Base Styles
  *  
  * @description
  * site-wide styles unique to this project, 
  * only file where element selectors should be used
  */





// Top Level
// ----------------------------------------------------------------------------

html, body {
  min-height: 100vh;
}

body {
	background: color(neutral, X);
	color: color(neutral, XXXXX);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}





// Layout
// ----------------------------------------------------------------------------
 
.layout-wrapper {
	@include grid-parent();
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
.language-plaintext {
	grid-column: span 12;
  @include respond-to(m){
    grid-column: 4 / 12;
  }
}

.page-content {
  @include stack(md);
}

.height-wrapper {
  flex: 1 0 auto;
}

.page-intro-text {
  @include grid-parent(); 
}

.page-intro-media{
  @include grid-parent($config: $grid-full); 
}

.sci-highlight,
.page-intro-text {
  padding: 5rem 0 0 0; //112px
  @include respond-to(m){
    padding: 7rem 0 0 0; //112px
  } 
}

.primary-txt {
  @include grid-child($cols: 12);
  @include stack(md);
}

.footer {
  flex-shrink: 0;
}




// Typography
// ----------------------------------------------------------------------------

h1 {
  @include typestyle($sans-md-bld);
  @include stack(xxs);
}

h2 {
  @include typestyle($sans-sm-bld);
}

h3 {
  @include typestyle($sans-xs-bld);
  text-transform: uppercase;
}

h4 {
  @include typestyle($sans-xs-bld);
}

p, ol, ul {
  @include typestyle($sans-sm-reg);
  @include stack(xs);
}

ul, ol {
  padding-left: 20px;
  @include respond-to(m){
    padding-left: 0;
  }
}

small {
  @include typestyle($sans-xs-reg);
}

a {
  text-decoration: underline;
  text-decoration-color: color(neutral, XXX);
  &:hover {
    text-decoration-color: color(neutral, XXXX);
  }
}

mark {
  background-color: color(warm, XX);
}

::selection {
  background: color(warm, XX);
}

::-moz-selection {
  background: color(warm, XX);
}

// code blocks
.language-plaintext {
  padding: 0 bl(3); //12px
  font-size: 1.0625rem;
  background-color: color(neutral, XX);
  @include stack(sm);
}

table {
  @include stack(sm);
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

tr {
  border-bottom: 1px solid color(neutral, XXX);
}

td { 
  @include typestyle($sans-xs-reg);
  vertical-align: top;
}

th { 
  @include typestyle($sans-xs-bld);
}

td, th { 
  padding: bl(3) 0 bl(3) 10px; //12px
}

td:first-child, th:first-child {
  padding-left: 0;
}

ul {
  list-style-type: '\2014\00a0';
}

h1.page-title {
  @include typestyle($sans-lg-bld);
  @include stack(sm);
}

p.intro {
  @include stack(md);
}



// Color Themes
// ----------------------------------------------------------------------------

.theme--white {
  background: color(neutral, X);
  color: color(neutral, XXXXX);
  h1, h2, h3, h4, h5, h6 {
    color: color(neutral, XXXXX);
  }
}

.theme--cyan {
  background: color(blue, XXXX);
  color: color(neutral, X);
  h1, h2, h3, h4, h5, h6, .intro, .media-hero-img .caption, .media-img .caption {
    color: color(green, XX);
  }
  .sidenav {
    background-color: color(blue, XX);
  }
}

.theme--dark {
  background: color(neutral, XXXXX);
  color: color(neutral, X);
  h1, h2, h3, h4, h5, h6, .intro, .media-hero-img .caption, .media-img .caption  {
    color: color(green, XX);
  }
  .sidenav {
    background-color: color(green, XX);
  }
}

.theme--warm {
  background: color(warm, XXXXX);
  color: color(neutral, X);
  h1, h2, h3, h4, h5, h6, .intro, .media-hero-img .caption, .media-img .caption {
    color: color(warm, XX);
  }
  .sidenav {
    background-color: color(warm, XX);
  }
}

.theme--green {
  background: color(green, XXX);
  color: color(neutral, X);
  h1, h2, h3, h4, h5, h6, .intro, .media-hero-img .caption, .media-img .caption {
    color: color(blue, XX);
  }
  .sidenav {
    background-color: color(green, XX);
  }
}

.theme--sky {
  background: color(blue, XX);
  color: color(blue, XXXXX);
  h1, h2, h3, h4, h5, h6, .intro, .media-hero-img .caption, .media-img .caption {
    color: color(blue, XXXXX);
  }
  .sidenav {
    background-color: color(blue, X);
  }
}

.theme--grey {
  background: color(neutral, XX);
  color: color(neutral, XXXXX);
  h1, h2, h3, h4, h5, h6, .intro {
    color: color(neutral, XXXXX);
  }
  .sidenav {
    background-color: color(blue, XXX);
  }
}



