/**
  * Component: Aside
  *  
  * @description
  * -
  */

.aside {
	
	@include grid-child($cols: 10);
	grid-column-start: 3;
	padding: bl(10) 0; //40px
	background-color: color(neutral, XX);
		
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	table,
	.language-plaintext {
		grid-column: 2 / 10;
	}

}