/**
  * Component: Text, Categories
  *  
  * @description
  * -
  */

.cat {
	
	grid-column: 4 / 12;
	padding: bl(2) 0 0 0;
	
	p{
		@include typestyle($sans-xs-bld);
		color: color(neutral, XXXXX);
	}

	.cat--sdl {
		@include typestyle($icon-xs);
	}

	.inactive {
		color: color(neutral, XXX);
	}
		
}