/**
  * Component: Footer
  *  
  * @description
  * -
  */

footer {
	width: 100vw;
	background-color: color(neutral, XXXXX);
	color: color(neutral, X);
	z-index: 100;
	

	.content-wrapper {
		padding: bl(5) 0; //20px 
		@include grid-parent();
	}


	.alcf-logo {
		grid-column: 1 / 6;
		// padding-bottom: bl(5); //20px
	}

	.alcf-logo img {
		width: 348px;
		@include stack(sm);
	}

	.alcf-info {
		grid-column: 7 / 10;
		// padding-bottom: bl(5); //20px	
	}

	.alcf-info h2, 
	.alcf-info p {
		@include typestyle($sans-xs-bld);
	}


	.bottom {
		@include grid-child($cols: 12, $row-start: 1);
	}

	hr {
		grid-column: 1 / -1;
    width: 100%;
    height: 2px;
    background-color: color(neutral, XXXX);
    border: none;
	}

	.smallprint {
		grid-column: 10 / -1;
		// padding: bl(2) 0; //8px
	}

	.smallprint ul {
		list-style: none;
		@include typestyle($sans-xs-bld);
	}


	.doe-info {
		grid-column: 1 / -1;
		grid-row: 2;
	}

	.doe-info img {
		width: 168px;
		opacity: .5;
		margin-right: bl(4); //16px
		display: inline-block;
		vertical-align: middle;
	}

	.doe-info p {
		display: inline-block;
		// width: calc(80% - 20px);
		@include typestyle($sans-xs-bld);
		// float: right;
		hyphens: none;
		color: color(neutral, XXXX);
		vertical-align: middle;
	}

}

