/**
  * Component: Text, Publications
  *  
  * @description
  * -
  */

.pubs {

	grid-column: 4 / 12;
	color: color(neutral, XXXX);
	border-top: 2px solid color(neutral, XXX);
	padding-top: bl(1);

	h3, li {
		@include typestyle($sans-xs-reg);
	}

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		@include stack(xxs);
	}
		
}

