/**
  * Component: Text, Intro
  *  
  * @description
  * -
  */

.intro {	
	@include typestyle($sans-md-bld);	
	@include stack(sm);
	color: color(neutral, XXXX);
	grid-column: span 12;
	@include respond-to(m){
		grid-column: 4 / 12;
	}	
}

.highlight .intro {	
	@include typestyle($sans-sm-bld);	
	grid-column: span 12;
	@include respond-to(m){
		grid-column: 4 / 12;
	}	
}

