/**
  * Component: Text, Categories
  *  
  * @description
  * -
  */

.cat {
	
	grid-column: 4 / 12;
	
	p{
		@include typestyle($sans-xs-bld);
		color: color(neutral, XXXXX);
	}

	.sdl-inactive {
		color: color(neutral, XXX);
	}
		
}