/**
  * Typestyle Configuration
  *
  * @description
  * Type styles configuration to be used with the typestyle() mixin. 
  *
  * The configuration requires 3 steps:
  * - Set the base variables
  *   The base font-size should remain 100%, the baseline height is set in
  *   rems, but no unit should be provided
  *  
  * - Define the fonts
  *   Each font definition requires the stack, and a ratio measurement to
  *   align the font on the baseline. Common ratios are available here:
  *   jamonserrano.github.io/plumber-sass/baselines
  *   A tool for measuring ratios not provided in the list is available here:
  *   jamonserrano.github.io/plumber-sass/measure
  *    
  * - Specify typestyles
  *   Each type style is defined in a map with keys for each of the
  *   breakpoints. The value for each key is a list that provides the 
  *   font-style, font-variant, font-weight, font-size, line-height, 
  *   font-family, letter-spacing, and word-spacing. The font-size, 
  *   letter-spacing, and word-spacing are set in rems. The line-height is
  *   set as the number of baselines required.
  * 
  */





// Base Variables
// ----------------------------------------------------------------------------

$base-font-size: 100%;
$baseline-height: 0.25; //rem





// Font Definitions
// ----------------------------------------------------------------------------

/**
  * $open-sans
  *
  * @description
  * Open Sans available through Google fonts:
  * fonts.google.com/specimen/Open+Sans
  *
  * (Current values are placeholder)
  */



@font-face {
  font-family: icon;
  src: url(../fonts/icomoon.woff);
}

$icon: (
  stack: #{icon, sans-serif},
  ratio: .189
);

$sans: (
  stack: #{'proxima-nova', sans-serif},
  ratio: .189
);







// Type Styles
// ----------------------------------------------------------------------------

// calcs assuming 1rem = 16px 


// The value for each key is a list that provides the 
// font-style, font-variant, font-weight, font-size, line-height, 
// font-family, letter-spacing, and word-spacing. The font-size, 
// letter-spacing, and word-spacing are set in rems. The line-height is
// set as the number of baselines required



// XL 136px/136px

$sans-xl-reg: (
  null    : (normal, normal, 400, 8.5,  34,  $sans, -.025, 0),
  sm      : (normal, normal, 400, 8.5,  34,  $sans, -.025, 0),
  md      : (normal, normal, 400, 8.5,  34,  $sans, -.025, 0),
  lg      : (normal, normal, 400, 8.5,  34,  $sans, -.025, 0),   
);

$sans-xl-bld: (
  null    : (normal, normal, 600, 8.5,  34,  $sans, -.025, 0),
  sm      : (normal, normal, 600, 8.5,  34,  $sans, -.025, 0),
  md      : (normal, normal, 600, 8.5,  34,  $sans, -.025, 0),
  lg      : (normal, normal, 600, 8.5,  34,  $sans, -.025, 0),   
);



// LG 72px/68px

$sans-lg-reg: (
  null    : (normal, normal, 400, 4.25,  15,  $sans, -.025, 0),
  sm      : (normal, normal, 400, 4.25,  15,  $sans, -.025, 0),
  md      : (normal, normal, 400, 4.25,  15,  $sans, -.025, 0),
  lg      : (normal, normal, 400, 4.25,  15,  $sans, -.025, 0),   
);

$sans-lg-bld: (
  null    : (normal, normal, 600, 4.25,  15,  $sans, -.025, 0),
  sm      : (normal, normal, 600, 4.25,  15,  $sans, -.025, 0),
  md      : (normal, normal, 600, 4.25,  15,  $sans, -.025, 0),
  lg      : (normal, normal, 600, 4.25,  15,  $sans, -.025, 0),   
);



// MD 31px/32px

$sans-md-reg: (
  null    : (normal, normal, 400, 1.9375,  8,  $sans, -.025, 0),
  sm      : (normal, normal, 400, 1.9375,  8,  $sans, -.025, 0),
  md      : (normal, normal, 400, 1.9375,  8,  $sans, -.025, 0),
  lg      : (normal, normal, 400, 1.9375,  8,  $sans, -.025, 0),   
);

$sans-md-bld: (
  null    : (normal, normal, 600, 1.9375,  8,  $sans, -.025, 0),
  sm      : (normal, normal, 600, 1.9375,  8,  $sans, -.025, 0),
  md      : (normal, normal, 600, 1.9375,  8,  $sans, -.025, 0),
  lg      : (normal, normal, 600, 1.9375,  8,  $sans, -.025, 0),   
);



// SM 18px/24px

$sans-sm-reg: (
  null    : (normal, normal, 400, 1.125,  6,  $sans, 0, 0),
  sm      : (normal, normal, 400, 1.125,  6,  $sans, 0, 0),
  md      : (normal, normal, 400, 1.125,  6,  $sans, 0, 0),
  lg      : (normal, normal, 400, 1.125,  6,  $sans, 0, 0),   
);

$sans-sm-bld: (
  null    : (normal, normal, 600, 1.125,  6,  $sans, 0, 0),
  sm      : (normal, normal, 600, 1.125,  6,  $sans, 0, 0),
  md      : (normal, normal, 600, 1.125,  6,  $sans, 0, 0),
  lg      : (normal, normal, 600, 1.125,  6,  $sans, 0, 0),   
);



// XS 15px/20px

$sans-xs-reg: (
  null    : (normal, normal, 400, 0.9375,  5,  $sans, 0, 0),  
  sm      : (normal, normal, 400, 0.9375,  5,  $sans, 0, 0),
  md      : (normal, normal, 400, 0.9375,  5,  $sans, 0, 0),
  lg      : (normal, normal, 400, 0.9375,  5,  $sans, 0, 0),   
);

$sans-xs-bld: (
  null    : (normal, normal, 600, 0.9375,  5,  $sans, 0, 0),  
  sm      : (normal, normal, 600, 0.9375,  5,  $sans, 0, 0),
  md      : (normal, normal, 600, 0.9375,  5,  $sans, 0, 0),
  lg      : (normal, normal, 600, 0.9375,  5,  $sans, 0, 0),   
);





$icon-xl: (
  null    : (normal, normal, 400, 8.5,  34,  $icon, -.025, 0),
  sm      : (normal, normal, 400, 8.5,  34,  $icon, -.025, 0),
  md      : (normal, normal, 400, 8.5,  34,  $icon, -.025, 0),
  lg      : (normal, normal, 400, 8.5,  34,  $icon, -.025, 0),   
);

$icon-lg: (
  null    : (normal, normal, 400, 3.5,  13,  $icon, -.025, 0),
  sm      : (normal, normal, 400, 3.5,  13,  $icon, -.025, 0),
  md      : (normal, normal, 400, 3.5,  13,  $icon, -.025, 0),
  lg      : (normal, normal, 400, 3.5,  13,  $icon, -.025, 0),    
);

$icon-md: (
  null    : (normal, normal, 400, 2,  9,  $icon, 0, 0),
  sm      : (normal, normal, 400, 2,  9,  $icon, 0, 0),
  md      : (normal, normal, 400, 2,  9,  $icon, 0, 0),
  lg      : (normal, normal, 400, 2,  9,  $icon, 0, 0),    
);

$icon-sm: (
  null    : (normal, normal, 400, 1.0625,  5,  $icon, 0, 0),
  sm      : (normal, normal, 400, 1.0625,  5,  $icon, 0, 0),
  md      : (normal, normal, 400, 1.0625,  5,  $icon, 0, 0),
  lg      : (normal, normal, 400, 1.0625,  5,  $icon, 0, 0),    
);

$icon-xs: (
  null    : (normal, normal, 400, 0.875,  5,  $icon, 0, 0),  
  sm      : (normal, normal, 400, 0.875,  5,  $icon, 0, 0),
  md      : (normal, normal, 400, 0.875,  5,  $icon, 0, 0),
  lg      : (normal, normal, 400, 0.875,  5,  $icon, 0, 0),   
);