---
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

  <body>

    {%- include header.html -%}
    {%- include sidenav.html -%}



<main class="page-content layout-wrapper highlight" aria-label="Content">

	{% 	include txt-cat.html 
		  field = page.field
			sdl = page.sdl
	%}

	<h1 class="page-title">{{ page.title }}</h1>

	{% 	include txt-meta.html 
		  name-1 = "PI"
			value-1 = page.pi
			name-2 = "AWARD"
			value-2 = page.award
			name-3 = "HOURS"
			value-3 = page.hours
	%}


	{% 	include media-img.html 
		  source = page.image
			caption = page.image-caption
			Credit = page.image-credit
	%}


	<div class="primary-txt highlight">
		{{ content }}
	</div>



	{% if page.publications.size > 0 %}

	{% 	include txt-pubs.html 
		  pubs = page.publications
	%}

	{% endif %}

</main>




{%- include footer.html -%}

  </body>

</html>
